@import "src/styles/mixins";
@import "src/styles/variables";

.carousel {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 920px;
  height: 350px;
  margin: 0 auto;
  color: white;


  .slide {
    border-radius: 35px;
    overflow: hidden;
    background: url("../../../../src/assets/img/reviews_bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    .image {
      width: 204px;
      overflow: hidden;

    }

    .allText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      width: 80%;
      padding: 0 30px 0 24px;

      .title {
        @include Text-FS-FW-LH(48px, 400, 56px);
        text-transform: uppercase;
        color: $text-color-primary;
        margin-top: 8px;
      }

      .subTitle {
        @include Text-FS-FW-LH(20px, 400, 124%);
        text-transform: uppercase;
        color: $text-color-primary;
        min-height: 40px;
      }

      .desc {
        margin-top: 5px;
        @include Text-FS-FW-LH(16px, 400, 150%);
      }

      .price {
        position: absolute;
        bottom: 15px;
        left: 24px;
        @include Text-FS-FW-LH(64px, 400, 74px);
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 10px;
    right: 80px;
    @include Text-FS-FW-LH(20px, 400, 28px);

    .swiperButtonPrev {
      left: -50px;

      img {
        transform: rotate(180deg);
      }
    }

    .swiperButtonNext {
      right: -50px;
    }

    span {
      @include Text-FS-FW-LH(10px, 400, 28px);
    }
  }
}

@media (max-width: 1439px) {
  .carousel {
    max-width: 617px;
    height: 236px;

    .slide {
      .image {
        height: 236px;
        width: 135px;
      }

      .allText {
        .title {
          @include Text-FS-FW-LH(32px, 400, 37px);

        }

        .subTitle {
          display: none;
        }

        .desc {
          margin-top: 24px;
        }

        .price {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 965px) {
  .carousel {
    height: 200px;
    width: 346px;

    .slide {
      height: 189px;
      width: 346px;

      .image {

        img {

        }
      }

      .allText {
        padding: 0 30px 0 10px;

        .title {
          @include Text-FS-FW-LH(20px, 400, 23px);
        }

        .desc {
          margin-top: 10px;
          width: 100%;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          @include Text-FS-FW-LH(12px, 400, 160%);

        }
      }
    }
  }
}