@import '../variables';
@import '../mixins';

.wrapper {
  padding: 40px 130px 120px 130px;
  color: $text-color-primary;
  display: flex;
  @media (max-width: 1439px) {
    flex-direction: column;
  }
  @media (max-width: 965px) {
    padding: 40px 20px 120px 20px;
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: $text-color-primary;
    -webkit-box-shadow: 0 0 0 1000px $bg-seven inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
  }

  .title {
    max-width: 50%;
    @media (max-width: 1439px) {
      padding: 37px 0;
      max-width: 100%;
      text-align: center;
      font-size: 64px;
    }
    @media (max-width: 965px) {
      text-align: start;
      width: 384px;
      @include Text-FS-FW-LH(48px, 700, 97.2%);
    }
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    @media (max-width: 1439px) {
      flex-direction: column;
      align-items: center;

    }

    input {
      color: $text-color-primary;
      border: 2px solid transparent;

      &:disabled {
        opacity: 0.4;
        cursor: no-drop;
      }

      &:focus {
        border: 2px solid $text-color-primary;
      }
    }

    .column1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      @media (max-width: 1439px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
      }
      @media (max-width: 965px) {
        width: 100%;
        align-items: flex-start;
      }

      .name {
        background: $bg-seven;
        border-radius: 36.1053px;
        padding: 29px 25px;
        width: 90%;
        height: 70px;
        font-family: 'Play', sans-serif;
        font-style: normal;
        @include Text-FS-FW-LH(16px, 400, 123.7%);
        display: flex;
        align-items: center;
        @media (max-width: 1439px) {
          width: 460px;
        }
        @media (max-width: 965px) {
          width: 100%;
        }


        &::placeholder {
          color: $text-color-third;
          opacity: 0.4;
        }

      }

      .formikError {
        position: absolute;
        top: -15px;
        color: $bg-third;
        @media (max-width: 1439px) {
          position: absolute;
          top: 60px;
        }
        @media (max-width: 965px) {
          top: 90px;

        }

      }

      .description {
        font-style: normal;

        @include Text-FS-FW-LH(18px, 400, 150%);
        @media (max-width: 1439px) {
          font-size: 18px;
          width: 537px;
          padding-bottom: 40px;
          margin-right: 0;
        }
        @media (max-width: 965px) {
          width: 287px;
        }
      }


    }

    .column2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      @media (max-width: 1439px) {
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
      }
      @media (max-width: 965px) {
        width: 100%;
      }

      .phone {
        background: $bg-seven;
        border-radius: 36.1053px;
        padding: 29px 25px;
        width: 90%;
        height: 70px;
        font-family: 'Play', sans-serif;
        font-style: normal;
        @include Text-FS-FW-LH(16px, 400, 123.7%);
        display: flex;
        align-items: center;
        @media (max-width: 1439px) {
          width: 460px;
        }
        @media (max-width: 965px) {
          width: 100%;
        }


        &::placeholder {
          color: $text-color-third;
          opacity: 0.4;
        }

      }

      .formikError {
        color: $bg-third;
        position: absolute;
        top: -15px;
        @media (max-width: 1439px) {
          position: static;
        }
        @media (max-width: 965px) {
          position: absolute;
          left: 0;
          top: -10px;

        }
      }

      .button {
        @media (max-width: 1439px) {
          margin-top: 40px;
        }
      }
    }

    .inputError {
      border: 2px solid $bg-third;
    }


  }

}







