@import '../variables';
@import '../mixins';

.wrapper {
  padding: 60px 124px 80px 143px;

  .blockComfort {
    margin: 0 auto;
    height: 290px;
    display: flex;
    justify-content: space-between;

    .rocketsImg {
      background: url("../../assets/img/Rockets.webp") no-repeat 15px 40px;
      width: 50%;
      background-size: 100% auto;

      .comfort_title {
        @include Text-FS-FW-LH(64px, 700, 97.2%);
        color: $text-color-primary;
      }
    }

    .circleImg {
      background: url("../../assets/img/circle.webp") no-repeat 100% 50px;
      width: 50%;
      background-size: 40% auto;

      .comfort_description {
        @include Text-FS-FW-LH(16px, 400, 150%);
        padding: 20px 0 0;
        color: $text-color-primary;
        width: 67%;
      }
    }
  }
}

@media (max-width: 1439px) {
  .wrapper {
    padding: 30px 170px;

    .blockComfort {
      height: 173px;

      .rocketsImg {
        background-size: contain;

        .comfort_title {
          @include Text-FS-FW-LH(32px, 700, 97.2%);
        }
      }

      .circleImg {
        width: 55%;
        background-size: 95px auto;
        background-position: 100% 100%;


        .comfort_description {
          padding-top: 9px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 965px) {
  .wrapper {

    padding: 30px 43px 40px 37px;


    .blockComfort {

      max-height: 116px;


      .rocketsImg {

        display: none;


        .comfort_title {

        }
      }

      .circleImg {
        background: none;
        width: 100%;

        .comfort_description {
          padding: 0;
          width: 100%;
          text-align: center;

        }
      }
    }
  }
}