@import "../mixins";
@import "../variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  color: $text-color-primary;
  padding: 80px 130px;
  border-top: 1px solid $text-color-primary;

  .contacts {
    display: flex;
    flex-direction: column;
    @include Text-FS-FW-LH(16px, 400, 19px);
    gap: 35px;

    a {
      display: block;
      @include Text-FS-FW-LH(23px, 400, 27px);
      text-decoration-line: underline;
      color: $text-color-primary;
    }

    .logo {
      width: 180px;
    }

    .date {
      display: none;
    }

    .buttonsBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      button {
      }
    }
  }

  .allServices {
    display: grid;
    column-gap: 42px;
    grid-template-areas:
  'services1 services2'
    'date date';

    .services1 {
      display: grid;
      align-content: start;
      row-gap: 12px;
      grid-area: services1;

      a {
        text-decoration: none;
        @include Text-FS-FW-LH(20px, 400, 28px);
        color: $text-color-primary;
      }
    }

    .services2 {
      display: grid;
      align-content: start;
      row-gap: 12px;
      grid-area: services2;

      a {
        text-decoration: none;
        @include Text-FS-FW-LH(20px, 400, 28px);
        color: $text-color-primary;
      }
    }

    .date {
      grid-area: date;
      display: flex;
      align-items: flex-end;
      @include Text-FS-FW-LH(16px, 400, 19px);
    }
  }
}

@media (max-width: 1439px) {
  .wrapper {
    .contacts {
      .buttonsBlock {
        button {
          width: 220px;
        }
      }
    }

    .allServices {
      column-gap: 62px;
    }
  }
}

@media (max-width: 965px) {
  .wrapper {
    padding: 34px 20px;

    .contacts {
      @include Text-FS-FW-LH(14px, 400, 28px);

      .date {
        display: inline-block;
      }

      .buttonsBlock {
        gap: 12px;

        button {
          width: 175px;
          min-width: 175px;
          height: 44px;
          @include Text-FS-FW-LH(14px, 400, 16px);
        }
      }
    }

    .allServices {


      display: flex;
      flex-direction: column;

      .services1 {
        a {
          @include Text-FS-FW-LH(14px, 400, 28px);
        }
      }

      .services2 {
        a {
          @include Text-FS-FW-LH(14px, 400, 28px);
        }
      }

      .date {
        display: none;
      }
    }
  }
}