@import "src/styles/variables";
@import '../mixins';

.wrapper {
  width: 100%;
  padding: 46px 130px 0 130px;
  @media(max-width: 1439px) {
    padding: 33px 170px 0 170px;
  }

  @media(max-width: 965px) {
    padding: 44px 20px 0 20px;
  }
  @media(max-width: 400px) {
    padding: 44px 3px 0 3px;
  }


  .header {
    color: $text-color-primary;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      .logoBlock {
        left: 0;
        right: 84.75%;
        top: 0.1%;
        bottom: 0.1%;

        &:hover {
          cursor: pointer;
        }

        @media (max-width: 965px) {
          display: none;
        }
      }

      .navBlock {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        @media (max-width: 965px) {
          justify-content: space-between;
        }

        .navLinks {
          display: flex;
          z-index: 4;

          &:hover {
            cursor: pointer;
          }

          .servicesLink, .portfolioLink {
            @include Text-FS-FW-LH(16px, 400, 19px);
            z-index: 2;
            font-style: normal;
            padding-right: 30px;
            opacity: 0.4;

            &:hover {
              opacity: 1;
            }

            @media(max-width: 965px) {
              padding-right: 16px;
            }

          }
        }

        .buttonsBlock {
          display: flex;
          gap: 20px;
          @media(max-width: 1439px) {
            gap: 10px;
          }

          button {
            padding: 3px 18px;
            @include Flex-Center();
          }

          .buttonTelegram {
            @media(max-width: 440px) {
              display: none;
            }
          }
        }
      }
    }

    .currentPage {
      font-style: normal;
      @include Text-FS-FW-LH(16px, 400, 19px);
      padding-top: 15px;
      @media (max-width: 1220px) {
        display: none;
      }

      .mainPageLink {
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .currentPageName {
        opacity: 0.4;

      }

    }
  }

  .headerMainPage {
    @extend .header;
    width: 55%;
    @media(max-width: 1439px) {
      width: 100%;
    }

  }
}


