@import "../mixins";
@import "../variables";

$duration: 30s;
.wrapper {
  position: relative;
  height: 104px;
  overflow: hidden;

  .runningString {
    position: absolute;
    left: 0;
    width: 5915px;
    height: 104px;
    border-top: 1px solid $text-color-primary;
    border-bottom: 1px solid $text-color-primary;
    overflow: hidden;
    color: $text-color-primary;
    display: flex;
    flex-direction: row;


    .strings {
      @include Flex-Center();
      @include Text-FS-FW-LH(40px, 700, 123.7%);
      font-style: normal;
      text-transform: uppercase;


      .stringItem {
        @include Flex-Center();
        width: 770px;
        height: 49px;
        animation: ticker $duration infinite linear forwards;

        .text {
          padding-right: 27px;
          padding-left: 27px;
        }

      }
    }
  }

  @keyframes ticker {
    0% {
      transform: translate(100%, 0);
    }

    100% {
      transform: translate(-540%, 0);
    }


  }

}