@import '../variables';
@import '../mixins';

.wrapper {
  padding: 48px 124px 60px 143px;
  @media(max-width: 1024px) {
    padding: 60px 172px 60px 168px;
  }
  @media(max-width: 767px) {
    padding: 60px 20px 60px 20px;
  }

  .smallTitle {
    width: 439px;
    @media(max-width: 767px) {
      max-width: 367px;
    }
    @media(max-width: 767px) {
      max-width: 180px;
    }
  }

  .items {
    position: relative;
    margin-top: 45px;
    @include Flex-Center;
    flex-direction: column;

    .itemsBg {
      position: absolute;
      background: rgba(43, 40, 68, 0.6);
      border-radius: 50px;
      width: 83.5%;
      height: 103%;
      @media(max-width: 767px) {
        display: none;
      }
    }

    .itemsMenu {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .item_first, .item_second, .item_third {
        display: flex;
        justify-content: space-between;
        border-radius: 85px;
        padding: 56px 80px 20px;
        @media(max-width: 1024px) {
          flex-direction: column;
          padding: 15px 81px 15px 38px;
          border-radius: 30px;


        }

        .item_blockLeft {
          width: 50%;
          @media(max-width: 1024px) {
            width: 100%;

          }

          .item_title {
            @include Text-FS-FW-LH(48px, 400, 56px);
            text-transform: uppercase;
            color: #F2F2F2;
            @media(max-width: 1024px) {
              @include Text-FS-FW-LH(32px, 400, 37px);
            }
            @media(max-width: 767px) {
              @include Text-FS-FW-LH(20px, 400, 23px);
            }
          }

          .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            padding-top: 9px;
            @media(max-width: 1024px) {
              display: none;
            }
          }
        }

        .item_blockRight {
          margin-top: 68px;
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          row-gap: 7px;
          @media(max-width: 1024px) {
            width: 100%;
            align-items: start;

          }


          .fillBtn {
            width: 177px;
            @media(max-width: 1024px) {
              display: none;
            }
          }

          .cost {
            @include Text-FS-FW-LH(48px, 400, 56px);
            color: #F2F2F2;
            @media(max-width: 767px) {
              @include Text-FS-FW-LH(32px, 400, 37px);
            }
          }

          .giftBox {
            display: flex;
            column-gap: 8px;
            justify-content: right;

            .gift {
              @include Text-FS-FW-LH(16px, 400, 150%);
              color: #FFFFFF;
              @media(max-width: 767px) {
                @include Text-FS-FW-LH(12px, 400, 150%);
              }
            }
          }

        }

      }

      .item_first {
        background: #3D0286;
      }

      .item_second {
        background: #9A219C;
      }

      .item_third {
        background: #2139B9;
      }
    }


  }


}

