@import '../variables';
@import '../mixins';

.wrapper {
  padding: 48px 124px 60px 143px;

  .smallTitle {
    width: 439px;
  }

  .items {
    position: relative;
    margin-top: 45px;
    @include Flex-Center;
    flex-direction: column;

    .itemsBg {
      position: absolute;
      border-radius: 50px;
      width: 83.5%;
      height: 103%;
      z-index: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: double 1px transparent;
      background-image: radial-gradient(circle at center, #262038, #262038), linear-gradient(to bottom left, transparent 30%, #ffffff, transparent, transparent);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      padding: 8px 15px 37px;
    }

    .itemsMenu {
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .item_first, .item_second, .item_third {
        display: flex;
        justify-content: space-between;
        border-radius: 85px;
        padding: 56px 80px 20px;
        position: relative;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        max-width: 1173px;
        max-height: 302px;

        .item_video {
          animation: visibleVideo 200ms;
          transition: opacity 200ms, display 200ms;
          display: none;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          object-fit: cover;
        }

        .overlay {
          animation: visibleVideo 200ms;
          transition: opacity 200ms, display 200ms;
          display: none;
          opacity: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        &:hover {
          .item_video, .overlay {
            display: block;
            opacity: 1;
            animation: visibleVideo 2s ease-in-out;
          }
        }


        .item_blockLeft {
          width: 50%;
          position: inherit;
          z-index: 2;

          .item_title {
            @include Text-FS-FW-LH(48px, 400, 56px);
            text-transform: uppercase;
            color: #F2F2F2;
          }

          .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            padding-top: 9px;
            pointer-events: none;
          }
        }

        .item_blockRight {
          margin-top: 68px;
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          row-gap: 7px;
          position: inherit;
          z-index: 2;

          .fillBtn {
            width: 177px;
          }

          .cost {
            @include Text-FS-FW-LH(48px, 400, 56px);
            color: #F2F2F2;
          }

          .giftBox {
            display: flex;
            column-gap: 8px;
            justify-content: right;

            .gift {
              @include Text-FS-FW-LH(16px, 400, 150%);
              color: #FFFFFF;
            }
          }

        }

      }

      .item_first {
        background: #3D0286;

        .overlay {
          background: rgba(61, 2, 134, 0.75);
        }

      }


      .item_second {
        background: #9A219C;

        .overlay {
          background: rgba(154, 33, 156, 0.75);
        }

      }

      .item_third {
        background: #2139B9;

        .overlay {
          background: rgba(33, 57, 185, 0.75);
        }

      }
    }
  }
}

@keyframes visibleVideo {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media(max-width: 1439px) {
  .wrapper {
    padding: 60px 172px 60px 168px;

    .smallTitle {
      max-width: 367px;
    }

    .items {
      .itemsMenu {
        .item_first, .item_second, .item_third {

          flex-direction: column;
          padding: 15px 81px 15px 38px;
          border-radius: 30px;

          .overlay {
            display: flex;
            opacity: 1;
          }

          .item_video {
            display: block;
            opacity: 1;
          }

          .item_blockLeft {

            width: 100%;

            .item_title {
              @include Text-FS-FW-LH(32px, 400, 37px);
            }

            .buttons {
              display: none;
            }
          }

          .item_blockRight {

            width: 100%;
            align-items: start;
          }

        }

        .fillBtn {
          position: absolute;
          right: 0;
        }

        .item_first {
          .overlay {
            background: rgba(61, 2, 134, 0.85);
          }
        }

        .item_second {
          .overlay {
            background: rgba(154, 33, 156, 0.85);
          }
        }

        .item_third {
          .overlay {
            background: rgba(33, 57, 185, 0.85);
          }
        }
      }
    }
  }
}

@media(max-width: 965px) {
  .wrapper {
    padding: 60px 20px 30px 20px;

    .smallTitle {
      max-width: 180px;
    }

    .items {
      .itemsBg {
        display: none;
      }

      .itemsMenu {

        .item_first, .item_second, .item_third {
          padding: 15px 25px;

          .item_blockLeft {
            .item_title {
              @include Text-FS-FW-LH(20px, 400, 23px);
            }
          }

          .item_blockRight {
            margin-top: 35px;

            .cost {
              @include Text-FS-FW-LH(32px, 400, 37px);
            }

            .fillBtn {
              min-width: 100px;
              width: 100px;
              font-size: 12px;
              bottom: 20px;
            }

            .giftBox {
              .gift {
                @include Text-FS-FW-LH(12px, 400, 150%);
              }
            }
          }


        }


      }

    }


  }

}






