@import "../mixins";
@import "../variables";

.wrapper {
  padding: 232px 0 0 60px;


  .stars {
    background: url("../../assets/img/stars.png");
    width: 100%;
    max-width: 1338px;
    height: 557px;
    display: flex;
    padding: 0 130px;
    justify-content: space-between;

    .pulse {
      position: relative;
      left: 169px;

      .pulse_item {
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(-505, -50%);
        width: 236px;
        height: 236px;
        background: #4C04A6;
        border: 12px solid #8F0192;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 36px #8F0192;
        @include Text-FS-FW-LH(128px, 700, 148px);
        @include Flex-Center();
        text-transform: uppercase;

        color: #FFFFFF;

        &:before, &:after {
          content: '';
          position: absolute;
          left: -30px;
          top: -30px;
          right: -30px;
          bottom: -30px;
          border: 2px solid #8F0192;
          border-radius: 50%;
          animation: animate 3.5s ease-in-out infinite;
        }

        &:after {
          animation-delay: 1s;
        }

        @keyframes animate {
          0% {
            transform: scale(1);
            opacity: 1;
          }

          100% {
            transform: scale(1.7);
            opacity: 0.1;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 400px;

      .titleBlock {
        @include Text-FS-FW-LH(48px, 400, 56px);
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .title {
        @include Text-FS-FW-LH(64px, 400, 74px);
        text-align: right;
        text-transform: uppercase;
        margin-top: 72px;
        color: #FFFFFF;
      }

      .description {
        @include Text-FS-FW-LH(16px, 400, 150%);
        max-width: 330px;
        text-align: right;
        color: #FFFFFF;
      }
    }

    .btn {
      margin-top: 88px;
    }
  }
}

