@import "../mixins";
@import "../variables";

.wrapper {
  padding: 232px 0 0 60px;
  @media (max-width: 1010px) {
    padding: 30px 20px;

  }

  .stars {
    background: url("../../assets/img/stars.png");
    width: 100%;
    max-width: 1338px;
    height: 557px;
    display: flex;
    padding: 0 130px;
    justify-content: space-between;
    @media (max-width: 1170px) {
      padding: 0 173px;
      background: url("../../assets/svg/starForTablet.svg");

    }
    @media (max-width: 1010px) {
      background: url("../../assets/svg/starForMobile.svg");
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0;
      min-height: 760px;
    }

    .pulse {
      position: relative;
      left: 169px;
      @media (max-width: 1170px) {
        left: 110px;
      }
      @media (max-width: 1010px) {
        position: static;
      }

      .pulse_item {
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(-505, -50%);
        width: 236px;
        height: 236px;
        background: $bg-five;
        border: 12px solid $bg-pulse-border;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 36px $bg-pulse-border;
        @include Text-FS-FW-LH(128px, 700, 148px);
        @include Flex-Center();
        text-transform: uppercase;

        color: #FFFFFF;
        @media (max-width: 1170px) {
          @include Text-FS-FW-LH(64px, 700, 74px);
          width: 118px;
          height: 118px;
          border: 6px solid $bg-pulse-border;
          box-shadow: 0 0 0 18px $bg-pulse-border;
        }
        @media (max-width: 1010px) {
          @include Text-FS-FW-LH(105px, 700, 121px);
          width: 180px;
          height: 180px;
          border: 12px solid $bg-pulse-border;
          box-shadow: 0 0 0 36px $bg-pulse-border;
          position: relative;
          top: 200px;
          left: 0;
          bottom: 0;
          right: 0;
        }

        &:before, &:after {
          content: '';
          position: absolute;
          left: -30px;
          top: -30px;
          right: -30px;
          bottom: -30px;
          border: 2px solid $bg-pulse-border;
          border-radius: 50%;
          animation: animate 3.5s ease-in-out infinite;
          @media (max-width: 1170px) {
            left: -15px;
            top: -15px;
            right: -15px;
            bottom: -15px;
          }
          @media (max-width: 1010px) {
            left: -30px;
            top: -30px;
            right: -30px;
            bottom: -30px;
          }
        }

        &:after {
          animation-delay: 1s;
        }

        @keyframes animate {
          0% {
            transform: scale(1);
            opacity: 1;
          }

          100% {
            transform: scale(1.7);
            opacity: 0.1;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 400px;
      @media (max-width: 1010px) {
        align-items: center;
      }

      .titleBlock {
        @include Text-FS-FW-LH(48px, 400, 56px);
        text-align: right;
        text-transform: uppercase;
        color: $text-color-primary;
        @media (max-width: 1170px) {
          @include Text-FS-FW-LH(32px, 400, 37px);
        }
        @media (max-width: 1010px) {
          @include Text-FS-FW-LH(48px, 700, 97.2%);
          @include H5-Title-For-Mobile();
          position: absolute;
          text-align: left;
          max-width: 302px;
          top: 0;
          left: 0;
        }
      }

      .title {
        @include Text-FS-FW-LH(64px, 400, 74px);
        text-align: right;
        text-transform: uppercase;
        margin-top: 72px;
        color: $text-color-primary;
        @media (max-width: 1170px) {
          @include Text-FS-FW-LH(48px, 400, 56px);
        }
        @media (max-width: 1010px) {
          @include Text-FS-FW-LH(32px, 400, 37px);
          text-align: center;
          padding-bottom: 20px;

        }
      }

      .description {
        @include Text-FS-FW-LH(16px, 400, 150%);
        max-width: 330px;
        text-align: right;
        color: $text-color-primary;
        @media (max-width: 1010px) {
          @include Text-FS-FW-LH(14px, 400, 160%);
          text-align: center;
        }
      }
    }

    .btn {
      margin-top: 88px;
    }
  }
}

