@import '../mixins';
@import '../variables';

.wrapper {
  padding: 147px 134px 0 130px;
  color: $text-color-primary;
  @media(max-width: 1024px) {
    padding: 90px 170px 0 172px;
  }
  @media(max-width: 767px) {
    padding: 100px 20px 0 20px;
  }

  .gifBlockForMobile {
    display: none;
    @media (max-width: 767px) {
      position: relative;
      display: block;
      padding-bottom: 100px;
    }

    .gifForMobile {
      width: 100%;
    }
  }

  .toolsInfoBlock {
    width: 827px;
    display: flex;
    flex-direction: column;
    @media(max-width: 1024px) {
      width: 100%;
    }


    .titleRow {
      @include Text-FS-FW-LH(64px, 700, 97.2%);
      padding-bottom: 16px;
      max-width: 700px;
      @media(max-width: 1024px) {
        @include Text-FS-FW-LH(32px, 700, 97.2%);
        width: 339px;
      }
      @media(max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
        @include H5-Title-For-Mobile();
        @include Text-FS-FW-LH(48px, 700, 94.7%);
      }

      span {
        @media(max-width: 767px) {
          display: none;
        }
      }
    }

    .gifAndTextRow {
      display: flex;

      .gifBlock {
        @include Flex-Center();
        width: 418px;
        height: 116px;
        overflow: hidden;
        margin-right: 29px;
        @media(max-width: 1024px) {
          width: 220px;
          height: 61.05px;
        }
        @media(max-width: 767px) {
          display: none;
        }
      }

      .text {
        @include Text-FS-FW-LH(16px, 400, 150%);
        width: 380px;
        position: relative;
        bottom: 48px;
        @media(max-width: 1024px) {
          bottom: 32px;
          max-width: 380px;
        }
        @media(max-width: 943px) {
          bottom: 32px;
          width: 50%;
        }
        @media(max-width: 767px) {
          width: 100%;
          position: static;
          @include Text-FS-FW-LH(14px, 400, 160%);
        }
      }
    }
  }

  .technologyBlock {
    .design {

    }

    .frontend {

    }

    .backend {

    }
  }
}

