@import '../variables';
@import '../mixins';

.wrapper {
  position: relative;
  padding: 40px 90px;
  /*border: 1px solid blue;*/
  font-family: 'Play', sans-serif;
  color: $text-color-primary;

  .topComponent {
    /* border: 1px solid red;*/
    display: flex;
    z-index: 999;

    .leftBlock {
      position: relative;
      width: 60%;
      /* border: 1px solid white;*/

      display: flex;
      flex-direction: column;

      .titleBlock {
        width: 100%;
        /*     border: 1px solid red;*/


        .title {
          padding-top: 110px;
          width: 613px;
          font-style: normal;
          @include Text-FS-FW-LH(128px, 700, 148px);
          letter-spacing: -0.025em;
        }
      }

      .textDescription {
        width: 100%;
        /*  border: blue;
  */
        .text {
          width: 380px;
          height: 75px;
          font-style: normal;
          @include Text-FS-FW-LH(16px, 400, 123.7%);
        }
      }

      .consultationBlock {
        position: absolute;
        bottom: 0;
        /*    border: #412a8f;*/

        .consultation {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          left: 100px;
          width: 276px;
          height: 193px;
          bottom: 32px;

          .gift {
            position: relative;
            bottom: 15px;
            z-index: 3;

          }

          .background {
            position: absolute;
            left: 0;
            /* border: 1px solid red;*/
            border-radius: 50px;
            background-color: $bg-seven;
            z-index: 1;

          }

          .consultationText {
            padding: 0 23px;
            text-align: center;
            font-style: normal;
            @include Text-FS-FW-LH(16px, 400, 123.7%);
            font-weight: 400;
            font-size: 16px;
            z-index: 3;


          }

        }
      }

      .buttonFillForm {
        position: absolute;
        bottom: 0;
        left: 300px;
      }
    }

    .rightBlock {
      position: relative;
      width: 40%;
      background-color: $bg-six;
      /*    border: 1px solid green;*/
      height: 100%;
      overflow: hidden;
      @include Flex-Center();
      -webkit-border-top-right-radius: 200px;
      z-index: 2;

      .gifBlock {
        @include Flex-Center();
        position: absolute;
        top: 80px;
        width: 80%;
        height: 70%;
        -webkit-border-top-right-radius: 200px;
        overflow: hidden;
        box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.63);

      }
    }
  }

  .ground {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 0;

  }

}


