@import '../variables';
@import '../mixins';

.wrapper {
  position: relative;
  padding: 0 90px 80px 130px;
  font-family: 'Play', sans-serif;
  color: $text-color-primary;
  @media (max-width: 1439px) {
    padding: 0 170px 40px 170px;
    height: 700px;
  }
  @media (max-width: 965px) {
    padding: 0 20px 44px 20px;
    max-height: 720px;
  }


  .topComponent {
    display: flex;
    z-index: 999;
    @media (max-width: 1439px) {
      flex-direction: column;

    }

    .leftBlock {
      position: relative;
      width: 55%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1439px) {
        width: 100%;
        position: static;
        align-items: center;
      }

      .titleBlock {
        z-index: 3;
        position: relative;
        @media(max-width: 965px) {
          padding-top: 109px;
        }

        .littleVideoBlock {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: absolute;
          bottom: 28px;
          width: 83px;
          height: 90px;
          overflow: hidden;
          -webkit-border-top-left-radius: 200px;
          @media (max-width: 1439px) {
            display: none;
          }
        }

        .titleWrapper {
          padding-left: 90px;
          padding-top: 164px;
          max-width: 613px;
          @media (max-width: 1439px) {
            position: relative;
            bottom: 90px;
            padding-left: 0;
            padding-top: 120px;
            text-align: center;
            @include Text-FS-FW-LH(128px, 700, 148px);
          }
          @media (max-width: 965px) {
            position: static;
            padding-top: 0;
            padding-bottom: 68px;
            @include Text-FS-FW-LH(48px, 700, 56px)

          }

        }
      }

      .textDescription {
        width: 100%;
        @media (max-width: 1439px) {
          @include Flex-Center();
          position: relative;
          bottom: 90px;
        }
        @media (max-width: 965px) {
          position: static;
        }

        .text {
          width: 380px;
          height: 75px;
          font-style: normal;
          @include Text-FS-FW-LH(16px, 400, 123.7%);
          @media (max-width: 1439px) {
            width: 435px;
            text-align: center;

          }
        }
      }

      .consultationBlock {
        position: absolute;
        bottom: 0;


        .consultation {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          left: 100px;
          width: 276px;
          height: 193px;
          bottom: 32px;
          border-radius: 50px;
          z-index: 1;
          border: solid 1px transparent;
          background-image: radial-gradient(circle at center, $bg-primary, #262038), linear-gradient(to bottom left, transparent 30%, #ffffff, transparent, transparent);
          background-origin: border-box;
          background-clip: padding-box, border-box;

          @media (max-width: 1439px) {
            position: relative;
            width: 300px;
            height: 40px;
            bottom: 70px;
            left: 0;
            background: none;
            backdrop-filter: none;
          }
          @media (max-width: 965px) {
            position: relative;
            width: 300px;
            height: 40px;
            bottom: 60px;
            left: 0;
            background: none;
            backdrop-filter: none;

          }


          .gift {
            position: relative;
            bottom: 15px;
            z-index: 3;
            @media (max-width: 1439px) {
              display: none;
            }

          }

          .consultationText {
            padding: 0 23px;
            text-align: center;
            font-style: normal;
            @include Text-FS-FW-LH(16px, 400, 123.7%);
            font-weight: 400;
            font-size: 16px;
            z-index: 3;
            @media (max-width: 1439px) {
              padding: 0;
            }
          }
        }
      }

      .buttonFillForm {
        position: absolute;
        bottom: 0;
        left: 300px;
        @media (max-width: 1439px) {
          margin-bottom: 114px;
          left: unset;
        }
      }
    }

    .rightBlock {
      position: relative;
      width: 45%;
      overflow: hidden;
      @include Flex-Center();
      -webkit-border-top-right-radius: 200px;
      z-index: 2;
      @media (max-width: 1439px) {
        width: 100%;
        position: static;
        -webkit-border-top-right-radius: 0;
      }

      .bigGifBckgrnd {
        @media (max-width: 1439px) {
          display: none;
        }
      }

      .videoBlock {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 80px;
        width: 80%;
        height: 70%;
        -webkit-border-top-right-radius: 250px;
        -webkit-border-bottom-right-radius: 50px;
        overflow: hidden;
        box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.63);

        @media (max-width: 1439px) {
          display: none;

        }

        .bigVideo {
          @media (max-width: 1439px) {
            width: 100%;
            position: absolute;

          }
        }
      }

      .videoBlockTablet {
        display: none;
        @media (max-width: 1439px) {
          position: absolute;
          display: block;
          top: 260px;
          width: 100%;
        }
        @media (max-width: 965px) {
          display: none;
        }
      }
    }
  }


  .logoForMobile {
    display: none;
    @media (max-width: 965px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @include Flex-Center();
    }

    img {
      position: absolute;
      height: 165px;
      top: 48px;
      opacity: 0.16;
    }
  }

  .groundBlock {
    overflow: hidden;
    @media (max-width: 1439px) {
      display: none;
    }

    .ground {
      position: absolute;
      top: -100px;
      bottom: 0;
      right: 0;
      left: 0;
      pointer-events: none;
      z-index: 0;
      min-width: 1440px;
      height: 883px;
    }
  }
}




