@import '../variables';
@import '../mixins';

.wrapper {
  position: relative;
  padding: 40px 90px 40px 130px;
  /*border: 1px solid blue;*/
  font-family: 'Play', sans-serif;
  color: $text-color-primary;

  .topComponent {
    display: flex;
    z-index: 999;

    .leftBlock {
      position: relative;
      width: 64%;
      display: flex;
      flex-direction: column;

      .titleBlock {
        z-index: 3;
        position: relative;

        .littleGif {
          @include Flex-Center();
          position: absolute;
          bottom: 28px;
          width: 83px;
          height: 83px;
          overflow: hidden;
          -webkit-border-top-left-radius: 200px;

        }

        .titleWrapper {
          padding-left: 90px;
          padding-top: 110px;

        }
      }

      .textDescription {
        width: 100%;

        .text {
          width: 380px;
          height: 75px;
          font-style: normal;
          @include Text-FS-FW-LH(16px, 400, 123.7%);
        }
      }

      .consultationBlock {
        position: absolute;
        bottom: 0;

        .consultation {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          left: 100px;
          width: 276px;
          height: 193px;
          bottom: 32px;

          .gift {
            position: relative;
            bottom: 15px;
            z-index: 3;

          }

          .background {
            position: absolute;
            left: 0;
            border-radius: 50px;
            background-color: $bg-seven;
            z-index: 1;

          }

          .consultationText {
            padding: 0 23px;
            text-align: center;
            font-style: normal;
            @include Text-FS-FW-LH(16px, 400, 123.7%);
            font-weight: 400;
            font-size: 16px;
            z-index: 3;


          }

        }
      }

      .buttonFillForm {
        position: absolute;
        bottom: 0;
        left: 300px;
      }
    }

    .rightBlock {
      position: relative;
      width: 36%;
      height: 100%;
      overflow: hidden;
      @include Flex-Center();
      -webkit-border-top-right-radius: 200px;
      z-index: 2;

      .gifBlock {
        @include Flex-Center();
        position: absolute;
        top: 80px;
        width: 80%;
        height: 70%;
        -webkit-border-top-right-radius: 200px;
        overflow: hidden;
        box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.63);

      }
    }
  }

  .ground {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
    height: 100%;

  }

}


