@import '../variables';
@import '../mixins';

.wrapper {
  padding: 0 130px 100px 130px;
  @media (max-width: 1024px) {
    padding: 0 175px 40px 170px;
  }
  @media (max-width: 767px) {
    padding: 0 18px 60px 20px;
  }
  position: relative;

  .gifBlock {
    z-index: 0;
    position: absolute;
    top: 50px;
    right: 250px;
    width: 500px;
    height: 500px;
    border: 1px solid $bg-primary;
    overflow: hidden;
    border-radius: 50%;
    @media (max-width: 1405px) {
   
    }
    @media (max-width: 1024px) {

    }

    img {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 500px;
      height: 500px;
    }

    .questMark {
      z-index: 0;
      font-size: 650px;
      font-weight: bold;
      color: $text-color-primary;
      background: $bg-primary;
      mix-blend-mode: darken;
      width: 500px;
      height: 500px;
      overflow: hidden;
      line-height: 70%;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }

  .content {
    /*    background-color: #3F3954;*/
    display: flex;
    padding-top: 64px;
    padding-left: 100px;
    position: relative;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding-left: 0;
      padding-top: 20px;
    }


    .topPart {
      width: 40%;
      @media (max-width: 1024px) {
        width: 100%;
      }

      .topText {
        @include Text-FS-FW-LH(18px, 400, 150%);
        max-width: 440px;
        @media (max-width: 767px) {
          max-width: 80%;
          @include Text-FS-FW-LH(14px, 400, 160%);
        }


      }

      .girlImg {
        position: relative;
        left: -180px;
        @media (max-width: 1024px) {
          position: absolute;

          bottom: 30px;
        }
        @media (max-width: 905px) {
          bottom: 60px;
          left: -220px;
        }
        @media (max-width: 767px) {
          left: -100px;
          bottom: 140px;
        }

        img {
          @media (max-width: 767px) {
            max-width: 292px;
          }
        }


      }
    }

    .nextPart {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-top: 247px;
      position: relative;
      @media (max-width: 1024px) {
        margin-top: 109px;
        width: 100%;
        align-items: end;
      }
      @media (max-width: 905px) {
        margin-top: 50px;
      }
      @media (max-width: 767px) {
        margin-top: 110px;
      }

      .textBlock {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        @media (max-width: 1024px) {
          align-items: end;
          row-gap: 20px;
        }

        .first, .second, .third {
          @include Text-FS-FW-LH(18px, 400, 150%);
          max-width: 75%;
          @media (max-width: 1024px) {
            max-width: 375px;
          }
          @media (max-width: 905px) {
            max-width: 246px;
          }
          @media (max-width: 767px) {
            @include Text-FS-FW-LH(14px, 400, 160%);
          }
        }

        .first {
          @media(max-width: 767px) {
            position: absolute;
            left: 0;
            top: 0;
          }

        }

        .second {
          @media(max-width: 767px) {
            padding-top: 95px;
          }
          @media(max-width: 440px) {
            max-width: 180px;
          }

        }

        .third {
          @media(max-width: 440px) {
            max-width: 180px;

          }

        }
      }

      .buttonBlock {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        margin-top: 36px;
        max-width: 580px;
        border: 0.1px solid $text-color-primary;
        border-radius: 35px;
        background: rgba(217, 217, 217, 0.1);
        backdrop-filter: blur(25px);
        @media (max-width: 1024px) {
          width: 469px;
          padding: 9px;
          flex-direction: row-reverse;
        }
        @media (max-width: 767px) {
          max-width: 100%;
          width: 100%;
          flex-direction: column-reverse;
          margin: 0;
          padding: 98px 0 0 0;
          border: none;
          background: none;
          backdrop-filter: none;

        }

        .button {
          @media (max-width: 1024px) {
            min-width: 220px;
            @include Text-FS-FW-LH(16px, 700, 19px);
          }
          @media (max-width: 767px) {
            min-width: 350px;
          }
        }

        .buttonDescription {
          width: 50%;
          @include Text-FS-FW-LH(16px, 400, 150%);
          @media (max-width: 1310px) {
            @include Text-FS-FW-LH(14px, 400, 123.7%);
          }
          @media (max-width: 1024px) {
            padding-left: 20px;
          }
          @media (max-width: 767px) {
            width: 270px;
            margin: 0;
            text-align: center;
            padding-top: 20px;
            @include Text-FS-FW-LH(14px, 400, 150%);
          }

        }
      }
    }
  }

  .title {
    position: relative;
    z-index: 1;
    @include Text-FS-FW-LH(110px, 700, 97.2%);
    max-width: 900px;
    @media (max-width: 1024px) {
      @include Text-FS-FW-LH(64px, 700, 94.7%);
      max-width: 468px;
    }
    @media (max-width: 905px) {
      @include Text-FS-FW-LH(48px, 700, 94.7%);
      max-width: 360px;
    }
    @media (max-width: 390px) {
      @include Text-FS-FW-LH(44px, 700, 94.7%);
    }
  }

}

