$text-color-primary: #FFFFFF;
$text-color-secondary: #F2F2F2;
$text-color-third: rgba(255, 255, 255, 0.8);
$text-color-four: #0B0520;
$text-color-five: #000000;

$bg-primary: #0B0520;
$bg-secondary: #3D0286;
$bg-third: #9A219C;
$bg-pulse-border: #8F0192;
$bg-four: #2139B9;
$bg-five: #4C04A6;
$bg-six: #36F1CD;
$bg-seven: #3F3954;
$bg-eight: #7200FD;
$bg-nine: rgba(160, 160, 160, 0.35);
$bg-ten: rgba(54, 61, 241, 0.41);

$border-primary: #000000;
$border-secondary: #FFFFFF;


