@import '../../variables';
@import '../../mixins';

.mainTitle {
  font-style: normal;
  max-width: 1038px;
  text-transform: uppercase;
  @include Text-FS-FW-LH(128px, 700, 148px);
  letter-spacing: -0.025em;
  @media (max-width: 1024px) {
    @include Text-FS-FW-LH(64px, 700, 74px);
    max-width: 554px;
  }
  @media (max-width: 767px) {
    @include Text-FS-FW-LH(48px, 700, 56px);
    max-width: 370px;
    text-align: center;

  }
}

.title {
  @include Text-FS-FW-LH(110px, 700, 94.7%);
  background: linear-gradient(180deg, $text-color-primary 21.38%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 493px;
  @media (max-width: 1024px) {
    @include Text-FS-FW-LH(64px, 700, 94.7%)
  }
  @media (max-width: 767px) {
    @include Text-FS-FW-LH(48px, 700, 94.7%)
  }
}